<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>

<% if current_trainer == @trainer %>
  <%= button_to "Create a Pokemon!", pokemons_new_path, :class => "button medium", :method => :get %>
<% end %>

<h4>Pokemon</h4>
<table class="table">
  <tbody>
  <tr>
    <th>Name</th>
    <th>Level</th>
    <th>Health</th>
    <% if current_trainer != @trainer %>
      <th>Attack!</th>
    <% end %>
    <% if current_trainer == @trainer %>
      <th>Heal!</th>
    <% end %>
  </tr>
    <% @pokemons.each do |p| %>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.level %></td>
        <td><%= p.health %></td>
        <% if current_trainer != @trainer %>
          <td><%= button_to "Damage!", pokemons_damage_path(id: p), :class => "button medium", :method => :patch %></td>
        <% end %>
        <% if current_trainer == @trainer %>
          <td><%= button_to "Heal!", pokemons_heal_path(id: p), :class => "button medium", :method => :patch %></td>
        <% end %>
      </tr> 
    <% end %>
  </tbody>
</table>
